<!DOCTYPE html>

{% extends 'base.html' %}

{% block search_fields %}

    <div class="search_fields">

        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <p>
                <div style="float: left; width: 100%; margin-top: 7px;">
                    {{ form.search_string(rows='1', cols='20', style='resize:none') }}
                </div>
                <div style="float: left; width: 100%; color: #B2B2B2; text-align: center;">
                    Leave blank to search all compounds
                </div>
                <div style="float: left; width: 100%;">
                    {{ form.search_field() }}
                </div>
                <div style="float: left; margin-top: 25px; display: flex; justify-content: center;">
                    {{ form.submit_search() }}
                </div>
                <div style="float: left; font-weight: bold; margin-top: 25px;">
                    Select Properties to View
                </div>
                <div style="float: left;">
                    {% for prop in form.properties %}
                        <div style="height: 20px; line-height: 82px; text-align: left; padding-left: 50px;">
                            {{ prop }}
                        </div>
                        <div style="height: 20px; line-height: 82px; text-align: center;">
                            {{ form[prop]() }}
                        </div>
                    {% endfor %}

                    <br><br>
                </div>

                {% for error in form.search_string.errors %}
                    <span style="color:red">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
        </form>

    </div>

{% endblock %}

{% block search_results %}

    <div class="search_results" style="margin-top: 10px;">
        <p>
            <div id="errors" style="padding-left: 24px;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red">
                                <b>
                                    {{ message }}
                                </b>
                            </p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>

            {% if results_table is not none %}
                {{ results_table | safe }}
            {% endif %}
        </p>
    </div>

{% endblock %}
