<!DOCTYPE html>

{% extends 'base.html' %}

{% block app_content %}

<div>

    <form action="" method="post">

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <p>

            <br>

            {{ form.search_string(rows='1', cols='50', style='resize:none') }}
            {{ form.search_field() }}
            {% for prop in form.properties %}
                {{ form[prop]() }} {{ prop.upper() }}
            {% endfor %}
            <!-- {{ form.cn() }} CN
            {{ form.ysi() }} YSI
            {{ form.mon() }} MON
            {{ form.ron() }} RON
            {{ form.kv() }} KV -->

            <br><br>

            {% for error in form.search_string.errors %}
                <span style="color:red">
                    {{ error }}
                </span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit_search() }}
            {{ form.submit_csv() }}
        </p>

    </form>

    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red">
                    <b>
                        {{ message }}
                    </b>
                </p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <style>
            table {
                border-collapse: separate;
                border-spacing: 25px 0;
                word-wrap: break-word;
            }
            td {
                max-width: 225px;
            }
        </style>

        {% if results_table is not none %}
            {{ results_table }}
        {% endif %}
    </p>

</div>

{% endblock %}